:root {
    /* 1. Compote */
    color: #934A5F;
    color: #57648C;
    color: #C2B4D6;
    color: #E5E5E5;

    /* 2. Scholar */
    color: #333D51;
    color: #D3AC2B;
    color: #CBD0D8;
    color: #F4F3EA;

    /* 3. Harbor */
    color: #354649;
    color: #6C7A89;
    color: #A3C6C4;
    color: #E0E7E9;

    /* 4. Gecko */
    color: #9F4298;
    color: #CFDB31;
    color: #D1AFD3;
    color: #E6E7E8;

    /* 5. Brisk */
    color: #4C4556;
    color: #872642;
    color: #F6C026;
    color: #A0D3F9;

    /* 6. Pebble */
    color: #433E49;
    color: #928490;
    color: #DBC1AD;
    color: #F3E8EB;

    /* 7. Condiments */
    color: #E2495B;
    color: #C4BA3B;
    color: #F4ED6E;
    color: #FFFEE6;

    /* 8. Harvest */
    color: #8E7C68;
    color: #ED7458;
    color: #FFDC9F;
    color: #DDC9BC;

    /* 9. Uncorked */
    color: #7F056E;
    color: #C09247;
    color: #CAB387;
    color: #F2EBE0;

    /* 10. Scuba */
    color: #0C4A60;
    color: #EF6C33;
    color: #ABDFF1;
    color: #E1DDDB;
}

